.Controls {
    display: flex;
    min-height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.Controls__flags,
.Controls__timer {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiaryColor);
    font-family: var(--fontFamily);
    font-size: 40px;
}

.Controls__action {
    width: 40px;
    height: 40px;
    background-image: url('media/gator-alt.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    border-radius: 50%;
    transition: filter 0.1s ease-out, transform 0.1s ease-out;
}

.Controls__action:active {
    filter: hue-rotate(120deg);
    transform: scale3d(1.1, 1.1, 1.1);
}

.Controls__action--gameover {
    filter: grayscale(100%);
}

.Controls__action:hover {
    cursor: pointer;
}


/**
    We don't want thin portait screens to show larger fonts 
    to prevent squishing. So i use and min-height.
**/

@media screen and (min-width: 480px) and (min-height: 600px) {
    .Controls__flags,
    .Controls__timer {
        font-size: 60px;
    }

    .Controls__action {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 800px) and (min-height: 600px) {
    .Controls__flags,
    .Controls__timer {
        font-size: 80px;
    }

    .Controls__action {
        width: 120px;
        height: 120px;
    }
}
