.DifficultyButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

.DifficultyButtons__button {
    font-family: var(--fontFamily);
    color: var(--tertiaryColor);
    font-size: 16px;
    transition: transform 0.1s ease-out;
    background-color: transparent;
    border: 0;
}

.DifficultyButtons__button:focus-visible {
    z-index: var(----outlineZindex);
    outline:var(--outline);
    position: relative;
}

.DifficultyButtons__button--active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.DifficultyButtons__button:hover {
    cursor: pointer;
}

.DifficultyButtons__button:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}

/**
    We don't want thin portait screens to show larger fonts 
    to prevent squishing. So i use and min-height.
**/

@media screen and (min-width: 480px) and (min-height: 600px) {
    .DifficultyButtons__button {
        font-size: 22px;
    }
}

@media screen and (min-width: 800px) and (min-height: 600px) {
    .DifficultyButtons__button {
        font-size: 34px;
    }
}
