
.Grid {
    --borderSize: 1px;
    --borderOffset: 0;
    --borderZIndex: 10;
    display: grid;
    width: 280px;
    height: 280px;
}

.Grid:focus-visible {
    outline:var(--outline);
    z-index: var(--outlineZindex);
    position: relative;
}

.Grid__row {
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: thin solid var(--secondaryColor);
    display: grid;
    grid-auto-columns: auto;
}

.Grid__row:first-child {
    border-top: thin solid var(--secondaryColor);
}

.Grid__column {
    position: relative;
    border-right: thin solid var(--secondaryColor);
    grid-row: 1;
}

.Grid__column:first-child {
    border-left: thin solid var(--secondaryColor);
}

.Grid__row,
.Grid__column {
    box-sizing: border-box;
}

@media screen and (min-width: 480px) and (min-height: 480px) {
    .Grid {
        width: 450px;
        height: 450px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
    .Grid {
        width: 900px;
        height: 900px;
    }
}