
.Grid {
    width: 70vmin;
    height: 70vmin;
    --borderSize: 1px;
    --borderOffset: 0;
    --borderZIndex: 10;
    display: grid;
    contain:paint;
    will-change: contents;
    transform: translateZ(0);
}

.Grid:focus-visible {
    outline:var(--outline);
    z-index: var(--outlineZindex);
    position: relative;
}

.Grid__row {
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: thin solid var(--secondaryColor);
    display: grid;
    grid-auto-columns: auto;
}

.Grid__row:first-child {
    border-top: thin solid var(--secondaryColor);
}

.Grid__column {
    position: relative;
    border-right: thin solid var(--secondaryColor);
    grid-row: 1;
}

.Grid__column:first-child {
    border-left: thin solid var(--secondaryColor);
}

.Grid__row,
.Grid__column {
    box-sizing: border-box;
}