.Header {
    display: flex;
    min-height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.Header__flags,
.Header__timer {
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiaryColor);
    font-family: var(--fontFamily);
    font-size: 40px;
}

.Header__status {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Header__action {
    width: 60px;
    height: 60px;
    background-image: url('media/gator-alt.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    border-radius: 50%;
    transition: filter 0.1s ease-out, transform 0.1s ease-out;
    background-color: transparent;
    border: 0;
}

.Header__action:active {
    filter: hue-rotate(120deg);
    transform: scale3d(1.1, 1.1, 1.1);
}

.Header__action:focus:not(:hover),
.Header__action:focus-visible {
    outline: 1px solid black;
}

.Header__action--gameover {
    filter: grayscale(100%);
    background-image: url('media/gator-end.svg');
}

.Header__action--gamewon {
    background-image: url('media/gator-win.svg');
}

.Header__action:hover {
    cursor: pointer;
}

.Header__statusText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontFamily);
    font-size: 12px;
    color: var(--tertiaryColor);
    min-height: 14px;
    overflow-y: hidden;
    overflow-x: visible;
    position: relative;
    white-space: nowrap;
}

.Header__statusText__status {
    position: absolute;
    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
    transform: translateY(-100%);
    opacity: 0;
}

.Header__statusText__status--visible {
    transform: translateY(0);
    opacity: 1;
}

@media screen and (min-width: 480px) and (min-height: 600px) {
    .Header__flags,
    .Header__timer {
        font-size: 60px;
        min-width: 110px;
    }

    .Header__action {
        width: 80px;
        height: 80px;
    }

    .Header__statusText {
        font-size: 12px;
        min-height: 16px;
    }
}

@media screen and (min-width: 800px) and (min-height: 600px) {
    .Header__flags,
    .Header__timer {
        font-size: 80px;
        min-width: 200px;
    }

    .Header__action {
        width: 120px;
        height: 120px;
    }

    .Header__statusText {
        font-size: 22px;
        min-height: 30px;
    }
}
