.Modes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

.Modes__mode {
    font-family: var(--fontFamily);
    color: var(--tertiaryColor);
    font-size: 16px;
    transition: transform 0.1s ease-out;
}

.Modes__mode--active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.Modes__mode:hover {
    cursor: pointer;
}

.Modes__mode:active {
    transform: scale3d(1.2, 1.2, 1.2);
}

/**
    We don't want thin portait screens to show larger fonts 
    to prevent squishing. So i use and min-height.
**/

@media screen and (min-width: 480px) and (min-height: 600px) {
    .Modes__mode {
        font-size: 22px;
    }
}

@media screen and (min-width: 800px) and (min-height: 600px) {
    .Modes__mode {
        font-size: 34px;
    }
}

