.Tile {
    width: 100%;
    height: 100%;
    font-family: var(--fontFamily);
    font-size: 24px;
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

.Tile--easy {
    font-size: 16px;
}

.Tile--hard {
    font-size: 10px;
}

.Tile--extreme {
    font-size: 6px;
}

.Tile:active,
.Tile:focus-visible {
    z-index: 1000;
    outline: solid;
    position: relative;
}

.Tile__mine,
.Tile__covered,
.Tile__blank,
.Tile__proximity {
    width: 100%;
    height: 100%;
}

.Tile__blank,
.Tile__proximity,
.Tile__mine {
    background-color: var(--tertiaryColor);
}

.Tile__mine {
    background-image: url('media/gator-grid.svg');
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    animation: Tile__mine;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.Tile__covered {
    background-color: var(--primaryColor);
    width: 100%;
    height: 100%;
    transition: background-color 0.1s ease-out;
    position: relative;
}

.Tile__covered--isFlagged {
    background-image: url('media/flag64.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.Tile__covered:hover {
    cursor: pointer;
}

.Tile__covered:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--otherColor);
}

.Tile__proximity {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes Tile__mine {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (min-width: 480px) {
    .Tile--easy {
        font-size: 20px;
    }

    .Tile--hard {
        font-size: 12px;
    }

    .Tile--extreme {
        font-size: 8px;
    }
}

@media screen and (min-width: 800px) {
    .Tile--easy {
        font-size: 24px;
    }

    .Tile--hard {
        font-size: 16px;
    }

    .Tile--extreme {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .Tile--easy {
        font-size: 32px;
    }

    .Tile--hard {
        font-size: 20px;
    }

    .Tile--extreme {
        font-size: 18px;
    }
}