.Tile {
    width: 100%;
    height: 100%;
    font-family: var(--fontFamily);
    font-size: 24px;
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

.Tile--easy {
    font-size: 16px;
}

.Tile--hard {
    font-size: 10px;
}

.Tile--extreme {
    font-size: 6px;
}

.Tile:active,
.Tile:focus-visible {
    z-index: 1000;
    outline: solid;
    position: relative;
}

.Tile__revealed {
    width: 100%;
    height: 100%;
    background-color: var(--tertiaryColor);
}

.Tile__revealed--proximity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Tile__revealed__proximityNumber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Tile__revealed--mine {
    background-image: url('media/gator-grid.svg');
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    animation: Tile__mine;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.Tile__covered {
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    transition: background-color 0.1s ease-out;
    position: relative;
    overflow: hidden;
}

.Tile__covered__flag {
    background-image: url('media/flag.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 20;
    width: 100%;
    height: 100%;
    animation: Tile__covered__flag;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    position:absolute;
    top: 0;
    left: 0;
}

.Tile__covered__bg {
    width: 100%;
    height: 100%;
    background-color: var(--otherColor);
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.Tile__covered:hover,
.Tile__covered__flag {
    cursor: pointer;
}

.Tile__covered:hover .Tile__covered__bg {
    opacity: 1;
}

@keyframes Tile__mine {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}


@keyframes Tile__covered__flag {    
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 480px) {
    .Tile--easy {
        font-size: 20px;
    }

    .Tile--hard {
        font-size: 12px;
    }

    .Tile--extreme {
        font-size: 8px;
    }
}

@media screen and (min-width: 800px) and (min-height: 480px) {
    .Tile--easy {
        font-size: 24px;
    }

    .Tile--hard {
        font-size: 16px;
    }

    .Tile--extreme {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) and (min-height: 480px) {
    .Tile--easy {
        font-size: 32px;
    }

    .Tile--hard {
        font-size: 20px;
    }

    .Tile--extreme {
        font-size: 18px;
    }
}