:root {
    /**
        Variables are defined in js theme files
        locally provided themes are in the themes folder.

        NOTE: Variables can be used here but 
        will be overwritten by the incoming theme.js
        file. 
    */

    --outline: 3px solid #000000; 
    --outlineZindex: 1000;
    --levelOneZIndex: 10;
    --levelTwoZIndex: 20;
    --levelThreeZIndex: 30;
}